PRETTY_NAME="{{ ansible_facts['distribution'] }}"
NAME="{{ ansible_facts['distribution'] }}"
VERSION_CODENAME="{{ ansible_facts['distribution_release'] | default('') }}"
VERSION="{{ ansible_facts['distribution_version'] }}"
ID="{{ ansible_facts['distribution'] | lower }}"
