#!/bin/ksh
# DnsCherry – OpenBSD rc.d (virtualenv)
daemon="{{ internal_dns_dnscherry_venv }}/bin/dnscherryd"
daemon_flags="-c /etc/dnscherry/dnscherry.ini"
daemon_user="_dnscherry"

. /etc/rc.d/rc.subr

rc_reload=NO
rc_cmd $1
