; Zone {{ internal_dns_parent_zone }} – static records (e.g. sun.kakwalab.ovh)
$ORIGIN {{ internal_dns_parent_zone }}.
$TTL {{ internal_dns_parent_zone_ttl }}

@   IN  SOA  {{ internal_dns_parent_zone_ns }}. {{ internal_dns_parent_zone_hostmaster }}. (
            1
            86400
            7200
            3600000
            {{ internal_dns_parent_zone_ttl }} )

@       IN  NS  {{ internal_dns_parent_zone_ns }}.

{% for r in internal_dns_parent_zone_records %}
{{ r }}    IN  A   {{ ansible_default_ipv4.address }}
{% endfor %}
